# Demo Project
Build

# GDExtension
/godot-cpp
*.os
/Libraries

# Godot
/DemoProject/bin
.godot

# macOS
.DS_Store

# Rogo
.rogo
/Build
BuildLocal.rogue
Local.rogo
/SynchedProjects.rogo

# SCons
.sconsign.dblite

# Vim
*.swo
*.swp
